.about{
    margin-right: 40px;
}


.typewriter p {
    color: #000000;
    font-family: monospace;
    font-size:35px;
    overflow: hidden; 
    border-right: .15em solid orange;
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing:1.5px; 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
